.box{
    height: 100px;
    width: 300px;
    background-color: pink;

    animation-name: firstAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes firstAnimation{
    from {
        font-size:20px;
    }
    to {
        font-size:40px;
    }
}