.container{
    height: 300px;
    width: 600px;
    background-color: black;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 200px 200px 200px ;
}

.items{
    /* width: 100px;
    height: 50px; */
    border: 2px solid black;
    background-color: greenyellow;
    text-align: center;
}