body{
    
    text-align: center;
}
form{
    background-color: burlywood;
    color: maroon;
    width: 300px;
    border: 5px solid maroon;
    border-radius: 0 30px 0 30px;
    margin: 0 35%;
    padding: 10px;
}
/* textarea{
    height: 70px;
    width: 250px;
} */
button{
    color: aliceblue;
    background-color: maroon;
}