*{
    margin:0; /* to get a clean state of page */
    padding:0; /* to get a clean state of page */

    font-family: "Roboto", sans-serif; /* setting font of our webpage */

}

.main_box{
    background-image: url(photo.jpg); /* adding background image */
    background-size: cover; 
    height: 100vh; /* to give main box full height of page, via viewport height */;
}

#check{
    display: none;
}
.btn_one{
    color: white;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 15px;
    line-height: 60px;
}

.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100%;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);

    transition: all 0.3s linear;
}

.sidebar_menu .logo{
    position: absolute;
    line-height: 60px;
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 60px;
}

.sidebar_menu .logo a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    left : 60px;
}

.sidebar_menu .btn_two i{
    position: absolute;
    right: 20px;
    color: grey;
    opacity: 0;
    font-size: 23px;
    line-height: 60px;

}

.sidebar_menu .menu{
    width: 100%;
    position: absolute;
    top: 75px;
}

.sidebar_menu .menu li{
    margin-top: 5px;
    padding: 12px 20px;
}

.sidebar_menu .menu i,a{
    color: white;
    text-decoration: none;
    font-size: 18px;    
}

.sidebar_menu .menu i{
    padding-right: 10px;
}

.sidebar_menu .social_media{
   position: absolute;
   bottom: 20px;
   left: 25%;
}

.sidebar_menu .social_media i{
    color: white;
    opacity: 0.5;
    padding-right:13px;    
}


/* Let's start hover changes */
.sidebar_menu .menu li:hover{ 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}
.sidebar_menu .logo a:hover{
    transform: scale(1.02);
}

.btn_one i:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn_two i:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.2);
    cursor: pointer;
}

/* settings of our checkbox for sidebar */
#check:checked ~ .sidebar_menu{
    left: 0;
}

#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}