body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    text-align: center;
    text-decoration: underline rgb(63, 98, 7);
    color: rgb(63, 98, 7);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    padding-left: 20px;
    letter-spacing: 2px;
}
h4{
    text-align: center;
    color: rgb(63, 98, 7);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 20px;
    letter-spacing: 2px;
}

.chat{
    display: inline-block;
    width: 500px;
    padding: 5px 10px 0px 10px;
    margin: 10px;
    margin-left: 30px;
    background-color: rgb(130, 196, 150);
    color: rgb(31, 30, 30);
    border-radius: 25px 0 25px 0;
}

.msg{
    background-color: aliceblue;
    color: rgb(38, 94, 15);
    padding: 2px 2px 2px 10px;
    border-radius: 25px;
}

.msgHead{
    display: flex;
    justify-content: space-between;
}

button{
    background-color: rgb(130, 196, 150);
    color: rgb(27, 40, 27);
    border-radius: 15px;
    padding: 8px 15px;
    transition: 0.2s;
}
header{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
header button{
    margin: 30px 20px 0 0;
}
button:hover{
    /* box-shadow: 3px 3px 2px green; */
    transform: scale(1.05);
}

.timing{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.changing{
    display: inline-block;
}