*{
    margin: 0;
    padding: 0;
    font-family: "Noto Serif Todhri", serif;  
}

.main_box{
    background-image: url("photo.jpg");
    background-size: cover;
    height: 100vh;
}
 .btn_one i{
    font-size: 30px;
 }
.btn_one{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
}

.sidebar_menu{
    background-color: rgba(255, 255,255,0.1);
    box-shadow: 0 0 8px rgba(255, 255,255,0.4);
    height: 100vh;
    width: 300px;
    position: fixed;
    left: -350px;
}

.sidebar_menu .logo a{
    color: white;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 50px;
    text-decoration: none;
}

.sidebar_menu .btn_two{
    color: grey;
    font-size: 25px;
    font-weight: 900;
    position: absolute;
    left: 275px;
    line-height: 60px;  
    opacity: 0; 
}

.sidebar_menu .menu{
    
    position: absolute;
    width: 100%;
    top: 75px;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}
.sidebar_menu .menu a,i{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.sidebar_menu .menu i{
    padding-right: 10px;
}

.sidebar_menu .social_media i{
    color: white;
    padding: 10px;
    opacity: 0.5;
}
.sidebar_menu .social_media {
    position: absolute;
    bottom: 30px;
    left: 20%;
}

#check{
    display: none;
}
/* hover changes */
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 8px rgba(255, 255,255,0.4);
}
.btn_one:hover{
    font-size: 1.5em;
}
.btn_two:hover{
    font-size: 1.5em;
}
.sidebar_menu .social_media i:hover{
    font-size: 20px;
    opacity: 0.8;
}



/* functionality */
#check:checked ~ .sidebar_menu{
    left: 0;
}
#check:checked ~ .btn_one i{
    opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two{
    opacity: 0.7;
}