body{
    text-align: center;
}
.btn{
    height: 125px;
    width: 125px;
    border: 5px solid black;
    border-radius: 25%;
    margin: 5px;
}

.one{
    background-color: rgb(255, 0, 197);
}
.two{
    background-color: rgb(0, 127, 255);
}
.three{
    background-color: rgb(127, 255, 0)
}
.four{
    background-color: rgb(255, 154, 0);
}

.btn-container{
    display: flex;
    justify-content: center;
    
}

/* class to make btn flash by changing bg-color */
.flash{
    background-color: white;
}
/* flash when user tap the button */
.user-flash{
    background-color: black;
}