.card{
    display: inline-block;
    margin: 10px;
    border:3px solid blue;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 5px 10px blue ;
    transition: box-shadow 0.3s ease-in-out;
}
.card:hover{
    box-shadow: 0px 10px 20px blue;
}

img{
    height: 300px;
    width: 200px;
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px ;
}
.desc{
    text-align: center;
}
h3,p{
    color: goldenrod;
}