div{
    height: 100px;
    width: 100px;
    background-color: coral;
    text-align: center;
    border: 3px double black;
    margin: 25px;
    display:inline-block
}

#static{
    background-color: darkcyan;
    position: static;
    top: 100px;
    left:100px
}

#relative{
    background-color: darkcyan;
    position: relative;
    top: 100px;
    left:100px
}

#absolute{
    background-color: darkcyan;
    position: absolute;
    top: 100px;
    left:100px
}

#fixed{
    background-color: darkcyan;
    position: fixed;
    top: 100px;
    left:100px
}