

.face{
    padding: 0;
    margin: 0;
    height: 400px;
    width: 400px;
    background-color: yellow;
    border-radius: 50%;
    border: 5px solid black;
}

.mouth{
    height: 50px;
    width:200px;
    background-color: red;
    border-radius: 0 0 50% 50% ;
    border: 5px solid black;
    position: absolute;
    top :250px;
    left:100px
}
.eye1 ,.eye2{
    height: 45px;
    width:45px;
    background-color: whitesmoke;
    border-radius: 50%;
    display: inline-block;
    border: 5px solid black;
    margin-right: 100px;

}
.eyes{
    position: absolute;
    top:100px;
    left: 100px;
    display: inline-block;
}

