div{
    height: 100px;
    width: 100px;
    background-color: rosybrown;
    margin: 0 auto;
    margin-top: 20px;
    transition: margin-top 2s linear 0.2s;
}
div:hover{
    margin-top: 300px;
    background-color: rgb(21, 57, 163);
}