h1{
    text-align: center;
    text-decoration: double royalblue underline;
}
h2{
    text-align: end;
    font-weight: 100;
    text-decoration: line-through;
    letter-spacing: 7px;
}
p{
    text-align: justify;
    line-height: 3;
}