#container{
    display: flex;
    height: 400px;
    width: 400px;
    border: 2px solid steelblue;
    border-radius: 10px;
    background-color: whitesmoke;
    flex-wrap: wrap;
    margin: 20px auto;
    justify-content: space-evenly;
    align-content:space-around ;
}

div div{
    height: 100px;
    width: 100px;
    font-size: 50px;
    color: black;
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}