#container{
    display:flex;
    height: 400px;
    width: 400px;
    border: 5px solid green;
    border-radius: 25px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.box{
    height: 100px;
    width:100px;
    font-size: 50px;
    background-color: grey;
    border: 5px solid black;
    border-radius: 25px;
    text-align: center;
    
}