#container{
    height:50px;
    width:900px;
    background-color: thistle;
    border: 2px solid green;
    border-radius: 10px;
    display:flex;
    padding-left: 20px;
}
.inner{
    font-size: 24px;
    height: 50px;
    width: 80px;
    align-content: center;
}