p{
    color: #964B00;
    text-align: center;
    line-height: 30px;
}
h1{
    text-align: center;
    color: #f00;
}
h3{
    text-align: center;
    color: black;
}
h4{
    text-align: center;
}
a{
    color: rgb(0,255,0);
    text-decoration: none;
}
button{
    color: blueviolet;
    background-color: white;
}
textarea{
    color: black;
}
spam{
    text-decoration: underline;
}