<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in Detail</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        h2{
           text-decoration: underline;
           color: maroon;
        }
    </style>
</head>
<body>
    <div id="nav">
        <h1>Quora Posts</h1>
        <button id="create">
            <a href="http://localhost:8080/posts/new">Create New POST</a>
        </button>
    </div>
    <h2>Post in details</h2>
    <h5>[ id : <%=post.id%> ]</h5>
    <div class="post">
        <h3 class="user">@<%= post.username %></h3>
        <h4 class="content"><%= post.content %></h4>
        <button class="btn"><a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit </a></button>
    </div>
</body>
</html>